@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

p {
  text-transform: none;
  color: $greyText;
}

a {
  color: $black;
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 20px;
}

.tag {
  display: inline-block;
  margin-right: 3px;
  background-color: $pink;
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 12px;
  color: #fff;
}

.tag:last-of-type {
  margin-right: 0;
}

main .tag, .advice-section .tag, .popular-post-preview .tag {
  font-size: 10px;
}
